# Typically *NIX text editors, by default, append '~' to files on saving to make backups
*~

*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
.gradle
gradle-app.setting
argfile*
activemq-data/
logs

build/
/build
*/build
*/**/build

target
/target
*/target
*/**/target

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
.metadata
venus-*/src/main/java/META-INF/MANIFEST.MF
.eclipse-pmd
.vinfo

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
.idea/
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
**/.flattened-pom.xml

